<a href="https://colab.research.google.com/github/Phyton25/Phyton-25/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Atividade 1

In [ ]:
for contador in range(1, 101):
  print(contador)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

atividade 2

In [ ]:
for poste in range(2,51,2):
  print(poste)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

atividae 3

In [ ]:
for contador in range(1,100,2):
  print(contador)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

Atividade 4

In [ ]:
soma = 0

for contador in range(5):
  dinheiro = float(input("Digite um numero"))
   vaquinha  += dinheiro
  Media = vaquinha/5:
   print(media)

IndentationError: unexpected indent (ipython-input-61-1137011640.py, line 5)

Ativade 5

In [ ]:
for par in range(0, 11,2):
 print(par)
for impar in range(1, 11,2):
 print(impar)

0
2
4
6
8
10
1
3
5
7
9

Atividade 6

In [ ]:
for multiplicador in range(1, 11):
  resultado = 1 * multiplicador
  print(f'1 x {multiplicador} = {resultado}')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Ativida 7

In [ ]:
for multiplicador in range (1, 11):
  print("Tabuada do("Tabuada")
  resultado = tabuada * numero
  print(f'1 x {multiplicador} = {resultado}')

SyntaxError: unterminated string literal (detected at line 2) (ipython-input-40-1957433225.py, line 2)

Atividade 8

In [ ]:
numeros = list(range(1, 21))
 print("Numeros um abaixo do outro")
 for numero in numeros:
   print(numero)
   print("\nNumeros lado a lado")
   print(" ".join(map(str, numeros)))

IndentationError: unexpected indent (ipython-input-42-2335162557.py, line 2)

Atividade 9

In [ ]:
for livros  in range(1, 50, 2):
  print(livros)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

Ativiade 10

In [ ]:
num1 = int(input("Digite o primeiro numero inteiro: "))
num2 = int(input("Digite o segundo numero inteiro: "))
inicio = min (num1, num2)
fim =  max(num1, num2)
print (f"Numero inteiros entre {num1} e {num2}:")
for numero in range (inicio, fim ):
  print(numero)

Digite o primeiro numero inteiro: 8
Digite o segundo numero inteiro: 4
Numero inteiros entre 8 e 4:
4
5
6
7

Atividade 11

In [ ]:
for i in range(5):
  venda = float(input(f"Digiteo valor da venda {i + 1}: R$ "))
  vendas .append(venda)

  faturamento_total = sum (vendas)
  limete = 54000
  if faturamento_total > limite:
    print(f"o faturamento total foi de R$ {faturamento_total:.2f}.")
    print(f"ultrapassou o limite em R$ {faturamento_total - limete:.2f}.")
  else:
    print(f"o faturamento total foi de R$ {faturamento_total:.2f}.")
  print("Nao ultapasou o limite de R$54.000.")

Atividae 12

In [ ]:
for robos  in range(2,21,2))
 print("Robos correndo:")
  for robo in robos:
 print(robo)

Atividade 13

In [ ]:
for numero in range(1000, 2001):
  if numero % 11 == 2:
    numeros_ganham_brinde.append(numero)
    print("Numero de inscriçao que ganham brinde:")
    for numero in numeros_ganham_brinde:
   print(numero)

Atividade 14

In [ ]:
for contador in range(10, 1):
 print("contador")
 print("Final lançar foguete")

 Atividade 15

In [ ]:
soma = 0

for dias in range(30)
 dinheiro = float(input)("Digite um numero")
  cofrinho += dinheiro
  media = cofrinho/30
  print(media)

ATIVIDAE 16

In [ ]:
for i in range(1, 6):
    peso = float(input(f"Digite o peso do boi {i} (em kg): "))
    if peso > maior_peso:
        maior_peso = peso

print(f"\nO boi mais pesado pesa {maior_peso:.2f} kg.")

Atividade 17

In [ ]:
for i in range(1, 6):
    peso = float(input(f"Digite o peso do boi {i} (em kg): "))
    if peso > maior_peso:
        maior_peso = peso

print(f"\nO boi mais pesado pesa {maior_peso:.2f} kg.")

Atividade 18

In [ ]:
for i in range(1, 11):
    quantidade = int(input(f"Digite a quantidade em estoque do produto {i}: "))
    total_estoque += quantidade

print(f"\nO total de produtos em estoque é: {total_estoque}"

Atividade 19

In [ ]:
for i in range(1, 11):
    quantidade = int(input(f"Digite a quantidade em estoque do produto {i}: "))
    total_estoque += quantidade

print(f"\nO total de produtos em estoque é: {total_estoque}")

Atividae 20

In [ ]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)